/* 其他说明 */
a {
    text-decoration: none; /* 去掉超链接的默认下划线 */
}
ul {
    list-style: none; /* 去掉列表项的默认样式(去除无序列表项前面的圆点和有序列表项前面的数字) */ 
}
/* 全局基础样式 */
html, body {
    margin: 0 auto; /* 设置元素在父容器内的上下外边距和左右外边距。“auto”表示居中 */
    padding: 0; /* 设置容器内边距。1个值：上下左右,2个值：上下、左右,4个值：上、右、下、左 */
    width: 100%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    height: 100%; /* 设置高度。“px”：设置元素高度固定大小;“%”：设置元素高度相对于父容器高度的百分比*/
    box-sizing: border-box; /* 设置元素的宽度和高度包括边框和内边距 */
}



/* 首页容器 */

/* 首页容器整体样式 */
#homepage-box {
    position: relative; /* 使用相对定位。父容器使用相对定位,为子元素提供参考系;子元素使用绝对定位,可精确控制其在父容器内的位置 */
    display: flex; /* 使用弹性布局 */
    flex-direction: column; /* 使用纵向布局 */
    justify-content: center; /* 设置元素在主轴上居中对齐 */
    align-items: center; /* 设置元素在交叉轴上居中对齐 */
}

/* 首页容器背景图片具体样式 */
#homepage-box img {
    width: 100%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
}

/* 首页容器Geek Logo具体样式 */
#homepage-box #geek {
    position: absolute; /* 使用绝对定位 */
    width: 30%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    top: 15%; /* “px”：设置元素的顶部与父容器顶部的固定距离;“%”：设置元素顶部与父容器顶部的距离相对于父容器高度的百分比 */
    left: 35%; /* “px”：设置元素的左边与父容器左边的固定距离;“%”：设置元素左边与父容器左边的距离相对于父容器宽度的百分比 */
    z-index: 2; /* 设置堆叠层级。堆叠层级越大,图层越靠上 */
    transition: all 0.4s; /* 为所有可过渡属性设置平滑的过渡效果和持续时间 */
}

/* 首页容器Geek Logo悬浮样式 */
#homepage-box #geek:hover {
    transform: scale(1.2); /* 设置鼠标悬停时元素的放大倍数 */
}


/* 导航栏 */

/* 导航栏整体样式 */
#homepage-box nav {
    position: fixed; /* 使用固定定位 */
    margin: 0 auto; /* 设置元素在父容器内的上下外边距和左右外边距。“auto”表示居中 */
    width: 90%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    min-width: 1200px; /* 设置最小宽度 */
    top: 10px; /* “px”：设置元素的顶部与父容器顶部的固定距离;“%”：设置元素顶部与父容器顶部的距离相对于父容器高度的百分比 */
    z-index: 100; /* 设置堆叠层级。堆叠层级越大,图层越靠上 */   
}
 
/* 顶部导航栏整体样式 */
#homepage-box #top-nav {
    display: flex; /* 使用弹性布局 */
    flex-direction: row; /* 使用横向布局 */
    background-color: #FFB11F; /* 设置背景颜色 */
    border-radius: 20px; /* 设置圆角大小 */
    opacity: 0.85; /* 设置透明度 */
}

/* 顶部导航栏每个导航项的基础样式 */
#homepage-box #top-nav li {
    flex: 1; /* 平分空间,均匀分布 */
    line-height: 55px; /* 设置行高 */
}

/* 顶部导航栏每个导航项的具体样式 */
#homepage-box #top-nav a {
    display: block; /* 设置其为块级元素 */
    text-align: center; /* 设置文本或行内元素在父容器内水平居中 */
    font-size: 25px; /* 设置字体大小 */
    color: white; /* 设置字体颜色 */
    transition: all 0.3s ease; /* 为所有可过渡的属性设置平滑的过渡效果和持续时间 */
}

/* 顶部导航栏每个导航项的悬停样式 */
#homepage-box #top-nav a:hover {
    color: gray; /* 设置字体颜色 */
    background-color: #FF7F50; /* 设置背景颜色 */
    border-radius: 20px; /* 设置圆角大小 */
}

/* 顶部导航栏NewThread导航项的具体样式 */
#homepage-box #top-nav #New\ Thread a {
    color: gray; /* 设置字体颜色 */
}

/* 顶部导航栏NewThread导航项的悬浮样式 */
#homepage-box #top-nav #New\ Thread a:hover {
    color: white; /* 设置字体颜色 */
}


/* Introduction 导航项 */

/* Introduction导航项整体样式 */
#homepage-box #top-nav #Introduction {
    position: relative; /* 使用相对定位 */
}

/* Introduction 导航项下拉框具体样式 */
#homepage-box #top-nav #Introduction .dropdown-image {
    position: absolute; /* 使用绝对定位 */
    top: 100%; /* “px”：设置元素的顶部与父容器顶部的固定距离;“%”：设置元素顶部与父容器顶部的距离相对于父容器高度的百分比 */
    left: 0; /* “px”：设置元素的左边与父容器左边的固定距离;“%”：设置元素左边与父容器左边的距离相对于父容器宽度的百分比 */
    width: 100%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    height: 0; /* 设置高度。“px”：设置元素高度固定大小;“%”：设置元素高度相对于父容器高度的百分比 */
    overflow: hidden; /* 隐藏元素内容溢出其容器的部分 */
    background-color: rgba(255, 255, 255, 0.95); /* 设置背景颜色 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
    border-radius: 8px; /* 设置圆角大小 */
    z-index: 100; /* 设置堆叠层级。堆叠层级越大,图层越靠上 */
    transition: height 0.4s ease-in-out; /* 为height属性设置平滑的过渡效果和持续时间 */
}

/* Introduction 导航项下拉框悬停样式 */
#homepage-box #top-nav #Introduction:hover .dropdown-image {
    height: 520px; /* 设置高度。“px”：设置元素高度固定大小;“%”：设置元素高度相对于父容器高度的百分比 */
}

/* Introduction 导航项下拉框图片具体样式 */
#homepage-box #top-nav #Introduction .dropdown-image img {
    width: 100%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    height: auto; /* 设置高度。“px”：设置元素高度固定大小;“%”：设置元素高度相对于父容器高度的百分比 */
    border-radius: 10px; /* 设置圆角大小 */
}


/* 背景容器 */

/* Introduction 容器 */

/* Introduction 容器整体样式 */
#backgroundbox #intro-box {
    display: flex; /* 使用弹性布局 */
    flex-direction: column; /* 使用纵向布局 */
    margin: 0 auto; /* 设置元素在父容器内的上下外边距和左右外边距。“auto”表示居中 */
    padding: 20px; /* 设置容器内边距。1个值：上下左右,2个值：上下、左右,4个值：上、右、下、左 */
    width: 100%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    align-items: center; /* 设置元素在交叉轴上居中对齐 */
    justify-content: center; /* 设置元素在主轴上居中对齐 */
    gap: 20px; /* 设置元素间距 */
    width: 100%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    max-width: 100%; /* 设置最大宽度 */
    box-sizing: border-box; /* 包括内边距在宽度计算中 */
}

/* Introduction 标题部分 */

/* Introduction 标题部分之标题具体样式 */
#backgroundbox #intro-box #introplace {
    position: relative; /* 使用相对定位 */
    display: flex; /* 使用弹性布局 */
    margin: 40px auto; /* 设置元素在父容器内的上下外边距和左右外边距。“auto”表示居中 */
    padding: 20px 0;  /* 设置容器内边距。1个值：上下左右,2个值：上下、左右,4个值：上、右、下、左 */
    width: 100%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    height: 200px; /* 设置高度。“px”：设置元素高度固定大小;“%”：设置元素高度相对于父容器高度的百分比 */
    justify-content: center; /* 设置元素在主轴上居中对齐 */
    align-items: center; /* 设置元素在交叉轴上居中对齐 */
    font-weight: bold; /* 字体加粗 */
    font-size: 56px; /* 设置字体大小 */
    color: #00008b; /* 设置字体颜色 */
    z-index: 2; /* 设置堆叠层级。堆叠层级越大,图层越靠上 */
    background: transparent; /* 设置背景透明 */
}

/* Introduction 标题部分之图标具体样式 */
#backgroundbox #intro-box #introplace i {
    font-size: 56px; /* 设置图标大小 */
    color: #00008b; /* 设置图标颜色 */
    margin-left: 10px; /* 设置左侧外边距 */
}

/* Introduction 标题部分之背景具体样式 */
#backgroundbox #intro-box #introplace:before {
    content: ''; /* 在伪元素中插入空内容 */
    position: absolute; /* 使用绝对定位 */
    top: -40px; /* “px”：设置元素的顶部与父容器顶部的固定距离;“%”：设置元素顶部与父容器顶部的距离相对于父容器高度的百分比 */
    left: 0; /* “px”：设置元素的左边与父容器左边的固定距离;“%”：设置元素左边与父容器左边的距离相对于父容器宽度的百分比 */
    width: 100%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    height: 100%; /* 设置高度。“px”：设置元素高度固定大小;“%”：设置元素高度相对于父容器高度的百分比 */
    background: url('../images/decoration_Transition.png') repeat-x center center; /* 引入背景图片,设置水平方向上重复,且在容器中水平和垂直居中显示 */
    background-size: contain; /* 设置背景图片适应容器的大小 */
    z-index: 1; /* 设置堆叠层级。堆叠层级越大,图层越靠上 */
}

/* Introduction 卡片部分 */



/* Introduction 卡片部分的整体样式 */
#backgroundbox #intro-box .intro-container .card {
    display: flex; /* 使用弹性布局 */
    margin: 0 auto; /* 水平居中 */
    margin-bottom: 30px; /* 设置底部外间距 */
    padding: 20px 30px; /* 设置容器内边距。1个值：上下左右,2个值：上下、左右,4个值：上、右、下、左 */
    align-items: center; /* 设置元素在交叉轴上居中对齐 */
    justify-content: space-between; /* 设置元素在主轴上间距相等,而且第一个和最后一个元素分别紧贴容器的两端 */
    border: 4px solid #7f7c7c; /* 设置边框(粗细、样式、颜色) */
    background-color: #fff; /* 设置背景颜色 */
    border-radius: 20px; /* 设置圆角大小 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
    width: 95%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    max-width: 1000px; /* 设置最大宽度 */
    min-height: 400px; /* 设置最小高度 */
    transition: transform 0.4s ease, box-shadow 0.4s ease; /* 为transform和box-shadow属性设置平滑的过渡效果和持续时间 */
}

/* Introduction 反向卡片部分的整体样式 */
#backgroundbox #intro-box .intro-container .card.reverse {
    flex-direction: row-reverse; /* 使用横向布局,元素逆序排列 */
}

/* Introduction 卡片部分的悬停样式 */
#backgroundbox #intro-box .intro-container .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
    transform: scale(1.05)!important; /* 设置鼠标悬停时元素的放大倍数,!important提升该条规则的优先级 */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 为transform和box-shadow属性设置平滑的过渡效果和持续时间 */
}

/* Introduction 卡片部分之标题具体样式 */

/* Introduction 卡片部分之蓝色标题具体样式 */
#backgroundbox #intro-box .intro-container .blue-title {
    color: #739aed; /* 设置字体颜色 */
    font-size: 28px; /* 设置字体大小 */
    font-weight: bold; /* 字体加粗 */
}

/* Introduction 卡片部分之粉紫色标题具体样式 */
#backgroundbox #intro-box .intro-container .purple-title {
    color: #FF91FF; /* 设置字体颜色 */
    font-size: 28px; /* 设置字体大小 */
    font-weight: bold; /* 字体加粗 */
}

/* Introduction 卡片部分之青绿色标题具体样式 */
#backgroundbox #intro-box .intro-container .cyan-title {
    color: #31DED7; /* 设置字体颜色 */
    font-size: 28px; /* 设置字体大小 */
    font-weight: bold; /* 字体加粗 */
}

/* Introduction 卡片部分之浅粉色标题具体样式 */
#backgroundbox #intro-box .intro-container .pink-title {
    color: #FFA3B0; /* 设置字体颜色 */
    font-size: 28px; /* 设置字体大小 */
    font-weight: bold; /* 字体加粗 */
}

/* Introduction 卡片部分之图片具体样式 */
#backgroundbox #intro-box .intro-container .card img {
    width: 200px; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    height: auto; /* 设置高度。“px”：设置元素高度固定大小;“%”：设置元素高度相对于父容器高度的百分比*/
    margin-right: 20px; /* 设置右侧外边距 */
    border-radius: 10px; /* 设置圆角大小 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
    background: none; /* 移除背景 */
    box-shadow: none; /* 移除阴影 */
    transition: transform 0.4s ease, box-shadow 0.4s ease; /* 为transform和box-shadow属性设置平滑的过渡效果和持续时间 */
}

/* Introduction 反向卡片部分之图片具体样式 */
#backgroundbox #intro-box .intro-container .card.reverse img {
    margin-right: 0; /* 设置右侧外边距 */
    margin-left: 20px; /* 设置左侧外边距 */
}

/* Introduction 卡片部分之图片悬停样式 */
#backgroundbox #intro-box .intro-container .card img:hover {
    transform: scale(1.05) rotate(-15deg); /* 设置鼠标悬停时元素的放大倍数和旋转角度 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
    background: none; /* 移除背景 */
    box-shadow: none; /* 移除阴影 */
}

/* Introduction 反向卡片部分之图片悬停样式 */
#backgroundbox #intro-box .intro-container .card.reverse img:hover {
    transform: scale(1.05) rotate(-15deg); /* 设置鼠标悬停时元素的放大倍数和旋转角度 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
    background: none; /* 移除背景 */
    box-shadow: none; /* 移除阴影 */
}


/* Introduction 卡片部分之文字整体样式 */
#backgroundbox #intro-box .intro-container .card-text {
    flex: 1; /* 平分空间,均匀分布 */
}

/* Introduction 卡片部分之文字具体样式 */
#backgroundbox #intro-box .intro-container .card-text h1 {
    margin-bottom: 10px; /* 设置底部外间距 */
    font-size: 30px; /* 设置字体大小 */ 
    color: #222 ; /* 设置字体颜色 */
}
#backgroundbox #intro-box .intro-container .card-text p {
    line-height: 1.8; /* 设置行高 */
    font-size: 20px; /* 设置字体大小 */
    color: #030303; /* 设置字体颜色 */
}


/* About Us 容器 */

/* About Us 容器整体样式 */
#backgroundbox #about-box {
    position: relative; /* 使用相对定位 */
    display: flex; /* 使用弹性布局 */
    flex-direction: column; /* 使用纵向布局 */
    max-width: 62%; /* 设置最大容器宽度 */
    margin: 0 auto; /* 设置元素在父容器内的上下外边距和左右外边距。“auto”表示居中 */
    padding: 0px 20px 120px 20px; /* 设置容器内边距。1个值：上下左右,2个值：上下、左右,4个值：上、右、下、左 */
    justify-content: center; /* 设置元素在主轴上居中对齐 */
    align-items: center; /* 设置元素在交叉轴上居中对齐 */
    gap: 10px; /* 设置元素间距 */
    border: 6px solid #8d8d8d; /* 设置边框(粗细、样式、颜色) */
    background-color: #f8f9fa; /* 设置背景颜色 */
    border-radius: 20px; /* 设置圆角大小 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
}

/* About Us 标题部分 */

/* About Us 标题部分之标题具体样式 */
#backgroundbox #about-box h2 {
    margin-bottom: 10px; /* 设置底部外间距 */
    width: 100%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    text-align: center; /* 设置文本或行内元素在父容器内水平居中 */
    font-size: 36px; /* 设置字体大小 */
    color: #333; /* 设置字体颜色 */
}

/* About Us 标题部分之图标具体样式 */
#backgroundbox #about-box h2 .about-us-icon {
    margin-left: 10px; /* 设置左侧外边距 */
    vertical-align: middle; /* 设置图标与文字垂直居中对齐 */
    font-size: 36px; /* 设置图标大小 */
    color: #555; /* 设置图标颜色 */
    transition: transform 0.3s ease; /* 为transform属性设置平滑的过渡效果和持续时间 */
}

/* About Us 标题部分之图标悬停样式 */
#backgroundbox #about-box h2 .about-us-icon:hover {
    color: #4a4a4a; /* 设置图标颜色 */
    transform: scale(1.2); /* 设置鼠标悬停时元素的放大倍数 */
}

/* About Us 卡片部分整体样式 */
#backgroundbox #about-box .about-card-container {
    display: flex; /* 使用弹性布局 */
    justify-content: center; /* 设置元素在主轴上居中对齐 */
    width: 100%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    gap: 60px; /* 设置元素间距 */
}

/* About Us 卡片部分具体样式 */
#backgroundbox #about-box .about-card {
    max-width: 135px; /* 设置最大宽度 */
    padding: 20px; /* 设置容器内边距。1个值：上下左右,2个值：上下、左右,4个值：上、右、下、左 */
    border: 5px solid rgb(149, 15, 170); /* 设置边框(粗细、样式、颜色) */
    text-align: center; /* 设置文本或行内元素在父容器内水平居中 */
    background-color: #fff; /* 设置背景颜色 */
    border-radius: 15px; /* 设置圆角大小 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 为transform和box-shadow属性设置平滑的过渡效果和持续时间 */
}

/* About Us 卡片部分悬停样式 */
#backgroundbox #about-box .about-card:hover {
    transform: scale(1.05); /* 设置鼠标悬停时元素的放大倍数 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
}


/* About Us 卡片部分之文字具体样式 */
#backgroundbox #about-box .about-card p {
    margin-top: 10px; /* 设置顶部外间距 */
    line-height: 1.6; /* 设置行高 */
    font-size: 14px; /* 设置字体大小 */
    color: #79797d; /* 设置字体颜色 */
    font-weight: 700; /* 设置字体粗细 */ 
}

/* About Us 卡片部分之图片具体样式 */
#backgroundbox #about-box .about-card img {
    display: block; /* 设置其为块级元素 */
    margin: 10px auto; /* 设置元素在父容器内的上下外边距和左右外边距。“auto”表示居中 */
    width: 60%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    max-width: 150px; /* 设置最大宽度 */
    height: auto; /* 设置高度。“px”：设置元素高度固定大小;“%”：设置元素高度相对于父容器高度的百分比 */
}

/* About Us 装饰部分 */

/* About Us 装饰部分之蝴蝶图片具体样式 */
#backgroundbox #about-box .about-butterfly {
    position: absolute; /* 使用绝对定位 */
    bottom: 30px; /* “px”：设置元素的底部与父容器底部的固定距离;“%”：设置元素底部与父容器底部的距离相对于父容器高度的百分比 */
    right: 70px; /* “px”：设置元素的右边与父容器右边的固定距离;“%”：设置元素右边与父容器右边的距离相对于父容器宽度的百分比 */
    width: 120px; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    height: auto; /* 设置高度。“px”：设置元素高度固定大小;“%”：设置元素高度相对于父容器高度的百分比 */ 
    background: none; /* 移除背景 */
    box-shadow: none; /* 移除阴影 */
    transition: transform 0.3s ease; /* 为transform属性设置平滑的过渡效果和持续时间 */
}

/* About Us 装饰部分之蝴蝶图片悬停样式 */
#backgroundbox #about-box .about-butterfly:hover {
    transform: translateY(10px) ; /* 设置鼠标悬停时元素沿Y轴移动的距离 */
    transition: transform 0.4s ease; /* 为transform属性设置平滑的过渡效果和持续时间 */
}

/* About Us 装饰部分之容器四角斜线装饰整体样式 */
#backgroundbox #about-box::before,
#backgroundbox #about-box::after,
#backgroundbox #about-box span:first-of-type::before,
#backgroundbox #about-box span:last-of-type::after {
    content: ''; /* 在伪元素中插入空内容 */
    position: absolute; /* 使用绝对定位 */
    width: 120px;  /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    height: 120px; /* 设置高度。“px”：设置元素高度固定大小;“%”：设置元素高度相对于父容器高度的百分比*/
    background: url('../images/decoration_Decoration.png') no-repeat center center; /* 引入背景图片,设置不重复,且在容器中水平和垂直居中显示 */
    background-size: contain;  /* 设置背景图片适应容器的大小 */
    z-index: 10; /* 设置堆叠层级。堆叠层级越大,图层越靠上 */
}

/* About Us 装饰部分之容器四角斜线装饰具体样式 */
/* 上左角斜线装饰具体样式 */
#backgroundbox #about-box::before {
    top: -30px; /* “px”：设置元素的顶部与父容器顶部的固定距离;“%”：设置元素顶部与父容器顶部的距离相对于父容器高度的百分比 */
    left: -30px; /* “px”：设置元素的左边与父容器左边的固定距离;“%”：设置元素左边与父容器左边的距离相对于父容器宽度的百分比 */
    transform: scaleX(-1); /* 设置元素沿X轴翻转 */
}

/* 上右角斜线装饰具体样式 */
#backgroundbox #about-box::after {
    top: -30px; /* “px”：设置元素的顶部与父容器顶部的固定距离;“%”：设置元素顶部与父容器顶部的距离相对于父容器高度的百分比 */
    right: -30px; /* “px”：设置元素的右边与父容器右边的固定距离;“%”：设置元素右边与父容器右边的距离相对于父容器宽度的百分比 */
    transform: rotate(0deg); /* 设置元素旋转角度*/
}

/* 下左角斜线装饰具体样式 */
#backgroundbox #about-box span:first-of-type::before {
    bottom: -30px; /* “px”：设置元素的底部与父容器底部的固定距离;“%”：设置元素底部与父容器底部的距离相对于父容器高度的百分比 */
    left: -30px; /* “px”：设置元素的左边与父容器左边的固定距离;“%”：设置元素左边与父容器左边的距离相对于父容器宽度的百分比 */
    transform:rotate(180deg); /* 设置元素旋转角度 */
}

/* 下右角斜线装饰具体样式 */
#backgroundbox #about-box span:last-of-type::after {
    bottom: -30px; /* “px”：设置元素的底部与父容器底部的固定距离;“%”：设置元素底部与父容器底部的距离相对于父容器高度的百分比 */
    right: -30px; /* “px”：设置元素的右边与父容器右边的固定距离;“%”：设置元素右边与父容器右边的距离相对于父容器宽度的百分比 */
    transform: scaleY(-1); /* 设置元素沿Y轴翻转 */
}


/* Contact US 容器 */

/* Contact Us 容器整体样式 */
#backgroundbox #contact-box {
    position: relative; /* 使用相对定位 */
    display: flex; /* 使用弹性布局 */
    flex-direction: column; /* 使用纵向布局 */
    align-items: center; /* 设置元素在交叉轴上居中对齐 */
    margin: 0px auto; /* 设置元素在父容器内的上下外边距和左右外边距。“auto”表示居中 */
    margin-top: 36px; /* 设置顶部外间距 */
    gap: 10px; /* 设置元素间距 */
    max-width: 62%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    height: 400px; /* 设置高度。“px”：设置元素高度固定大小;“%”：设置元素高度相对于父容器高度的百分比 */
    padding: 0px 20px 120px 20px; /* 设置容器内边距。1个值：上下左右,2个值：上下、左右,4个值：上、右、下、左 */
    border: 6px solid #299395; /* 设置边框(粗细、样式、颜色) */
    border-radius: 20px; /* 设置圆角大小 */
    background-color: #f8f9fa; /* 设置背景颜色 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
    text-align: inherit; /* 设置子元素的文本对齐方式与父元素保持一致 */
}

/* Contact Us 标题部分 */

/* Contact Us 标题部分之标题具体样式 */
#backgroundbox #contact-box h2 {
    margin-bottom: 15px; /* 设置底部外间距 */
    font-size: 36px; /* 设置字体大小 */
    color: #333; /* 设置字体颜色 */
}

/* Contact Us 标题部分之图标具体样式 */
#backgroundbox #contact-box h2 .contact-icon {
    margin-left: 10px; /* 设置左侧外边距 */
    font-size: 40px; /* 设置图标大小 */
    color: #2F4F4F; /* 设置图标颜色 */
    transition: transform 0.3s ease; /* 为transform属性设置平滑的过渡效果和持续时间 */
}

/* Contact Us 标题部分之图标悬停样式 */
#backgroundbox #contact-box h2 .contact-icon:hover {
    color: #006400; /* 设置图标颜色 */
    transform: scale(1.2); /* 鼠标悬停时放大 */
}

/* Contact Us 文字部分之正文具体样式 */
#backgroundbox #contact-box p:not(.ps-text) {
    position: relative; /* 使用绝对定位 */
    margin: 10px auto; /* 设置元素在父容器内的上下外边距和左右外边距。“auto”表示居中 */
    width: 80%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    text-align: left; /* 设置文本或行内元素在父容器内左对齐 */
    line-height: 1.8; /* 设置行高 */
    max-width: 600px; /* 设置最大宽度 */
    color: #333; /* 设置字体颜色 */
    font-size: 25px; /* 设置字体大小 */
    word-wrap: break-word; /* 设置自动换行 */
}

/* Contact Us 文字部分之正文前面圆点具体样式 */
#backgroundbox #contact-box p:not(.ps-text):not(.popup-text)::before {
    content: '•'; /* 添加圆点符号 */
    position: absolute; /* 使用绝对定位 */
    left: -20px; /* “px”：设置元素的左边与父容器左边的固定距离;“%”：设置元素左边与父容器左边的距离相对于父容器宽度的百分比 */
    top: 0; /* “px”：设置元素的顶部与父容器顶部的固定距离;“%”：设置元素顶部与父容器顶部的距离相对于父容器高度的百分比 */
    line-height: 2; /* 设置行高 */
    font-size: 25px; /* 设置字体大小 */
    color: #333; /* 设置字体颜色 */ 
}


/* Contact Us 文字部分之小字具体样式 */
#backgroundbox #contact-box .ps-text {
    margin: 20px auto; /* 设置元素在父容器内的上下外边距和左右外边距。“auto”表示居中 */
    width: 80%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    max-width: 600px; /* 设置最大宽度 */
    text-align: left; /* 设置文本或行内元素在父容器内左对齐 */
    line-height: 1.5; /* 设置行高 */
    font-size: 18px; /* 设置字体大小 */
    color: #696666; /* 设置字体颜色 */    
    word-wrap: break-word; /* 设置自动换行 */
}


/* Contact Us 按钮部分整体样式 */
#backgroundbox #contact-box .contact-methods {
    position: relative; /* 使用相对定位 */
    display: flex; /* 使用弹性布局 */
    margin-top: -80px; /* 设置顶部外间距 */
    justify-content: center; /* 设置元素在主轴上居中对齐 */
    align-items: center; /* 设置元素在交叉轴上居中对齐 */
    gap: 20px; /* 设置元素间距 */
    transform: translateX(-30px); /* 设置元素沿X轴移动的距离 */
    z-index: 10; /* 设置堆叠层级。堆叠层级越大,图层越靠上 */
}

/* Contact Us 按钮部分之按钮具体样式 */
#backgroundbox #contact-box .contact-link {
    margin: 25px; /* 设置容器在父容器内的上下外边距和左右外边距。“auto”表示居中 */
    padding: 10px 20px; /* 设置容器内边距。1个值：上下左右,2个值：上下、左右,4个值：上、右、下、左 */  
    background-color: #21a025; /* 设置背景颜色 */
    color: #fff; /* 设置字体颜色 */
    border-radius: 15px; /* 设置圆角大小 */
    transition: background-color 0.9s ease,transform 0.3s ease, box-shadow 0.3s ease; /* 为background-color,transform,box-shadow属性设置平滑的过渡效果和持续时间 */ 
}

/* Contact Us 按钮部分之按钮悬停样式 */
#backgroundbox #contact-box .contact-link:hover {
    background-color: #2f7f33;  /* 设置背景颜色 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
    transform: scale(1.05); /* 设置鼠标悬停时元素的放大倍数 */
}

/* Contact Us 按钮部分之弹窗整体样式 */

/* Contact Us 按钮部分之显示弹窗整体样式 */
#backgroundbox #contact-box .popup {
    position: fixed; /* 使用固定定位 */
    top: 50%; /* “px”：设置元素的顶部与父容器顶部的固定距离;“%”：设置元素顶部与父容器顶部的距离相对于父容器高度的百分比 */
    left: 50%; /* “px”：设置元素的左边与父容器左边的固定距离;“%”：设置元素左边与父容器左边的距离相对于父容器宽度的百分比 */
    width: 300px; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    padding: 20px; /* 设置容器内边距。1个值：上下左右,2个值：上下、左右,4个值：上、右、下、左 */
    transform: translate(-50%, -50%); /* 设置元素分别沿X轴和Y轴向左和向上移动自身宽度和高度的50%,从而实现居中 */
    text-align: center; /* 设置文本或行内元素在父容器内水平居中 */
    background-color: white; /* 设置背景颜色 */
    border-radius: 10px; /* 设置圆角大小 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
    z-index: 100; /* 设置堆叠层级。堆叠层级越大,图层越靠上 */
}

/* Contact Us 按钮部分之隐藏弹窗整体样式 */
#backgroundbox #contact-box .hidden {
    display: none; /* 设置元素完全隐藏 */
}

/* Contact Us 按钮部分之弹窗具体样式 */

/* Contact Us 按钮部分之弹窗文字具体样式 */
.popup-content p {
    margin-bottom: 20px; /* 设置底部外间距 */
    font-size: 16px; /* 设置字体大小 */
    color: #333; /* 设置字体颜色 */  
}

/* Contact Us 按钮部分之弹窗关闭按钮具体样式 */
#backgroundbox #contact-box .close-button {
    padding: 8px 16px; /* 设置容器内边距。1个值：上下左右,2个值：上下、左右,4个值：上、右、下、左 */
    border: none; /* 设置边框(粗细、样式、颜色) */
    background-color: #a4a5a5; /* 设置背景颜色 */
    border-radius: 5px; /* 设置圆角大小 */
    color: white; /* 设置字体颜色 */
    cursor: pointer; /* 当鼠标指针悬停在需要点击的元素时,设置其变为手形 */
}

/* Contact Us 按钮部分之弹窗关闭按钮悬停样式 */
#backgroundbox #contact-box .close-button:hover {
    background-color: #535151; /* 设置背景颜色 */
}

/* Contact Us 装饰部分具体样式 */

/* Contact Us 装饰部分之变色龙具体样式 */
#backgroundbox #contact-box .decoration-chameleon {
    position: absolute; /* 使用绝对定位 */
    bottom: -30px; /* “px”：设置元素的底部与父容器底部的固定距离;“%”：设置元素底部与父容器底部的距离相对于父容器高度的百分比 */
    right: 80px; /* “px”：设置元素的右边与父容器右边的固定距离;“%”：设置元素右边与父容器右边的距离相对于父容器宽度的百分比 */
    width: 350px; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    height: auto; /* 设置高度。“px”：设置元素高度固定大小;“%”：设置元素高度相对于父容器高度的百分比*/
    z-index: 6; /* 设置堆叠层级。堆叠层级越大,图层越靠上 */
}


/* Contact Us 装饰部分之树木具体样式 */
#backgroundbox #contact-box .decoration-tree {
    position: absolute; /* 使用绝对定位 */
    top: -5px; /* “px”：设置元素的顶部与父容器顶部的固定距离;“%”：设置元素顶部与父容器顶部的距离相对于父容器高度的百分比 */
    right: -20px; /* “px”：设置元素的右边与父容器右边的固定距离;“%”：设置元素右边与父容器右边的距离相对于父容器宽度的百分比 */
    width: 140px; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    height: auto; /* 设置高度。“px”：设置元素高度固定大小;“%”：设置元素高度相对于父容器高度的百分比*/
    z-index: 5; /* 设置堆叠层级。堆叠层级越大,图层越靠上 */
}

/* Contact Us 装饰部分之瓢虫具体样式 */
#backgroundbox #contact-box .decoration-ladybug {
    position: absolute; /* 使用绝对定位 */
    bottom: -10px; /* “px”：设置元素的底部与父容器底部的固定距离;“%”：设置元素底部与父容器底部的距离相对于父容器高度的百分比 */
    left: -15px; /* “px”：设置元素的左边与父容器左边的固定距离;“%”：设置元素左边与父容器左边的距离相对于父容器宽度的百分比 */
    width: 50px; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    height: auto; /* 设置高度。“px”：设置元素高度固定大小;“%”：设置元素高度相对于父容器高度的百分比*/
    z-index: 5; /* 设置堆叠层级。堆叠层级越大,图层越靠上 */
}

/* Contact Us 装饰部分之树叶具体样式 */
#backgroundbox #contact-box .decoration-leaves {
    position: absolute; /* 使用绝对定位 */
    top: 40px; /* “px”：设置元素的顶部与父容器顶部的固定距离;“%”：设置元素顶部与父容器顶部的距离相对于父容器高度的百分比 */
    left: 350px; /* “px”：设置元素的左边与父容器左边的固定距离;“%”：设置元素左边与父容器左边的距离相对于父容器宽度的百分比 */
    width: 50px; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    height: auto; /* 设置高度。“px”：设置元素高度固定大小;“%”：设置元素高度相对于父容器高度的百分比*/
    transform: rotate(-15deg); /* 设置元素旋转角度 */
}

/* Contact Us 装饰部分之含有树枝的树具体样式 */
#backgroundbox #contact-box .decoration-tree-with-something {
    position: absolute; /* 使用绝对定位 */
    top: -5px; /* “px”：设置元素的顶部与父容器顶部的固定距离;“%”：设置元素顶部与父容器顶部的距离相对于父容器高度的百分比 */
    left: 0px; /* “px”：设置元素的左边与父容器左边的固定距离;“%”：设置元素左边与父容器左边的距离相对于父容器宽度的百分比 */
    width: auto; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    height: 300px; /* 设置高度。“px”：设置元素高度固定大小;“%”：设置元素高度相对于父容器高度的百分比*/
    transform: rotate(0deg); /* 设置元素旋转角度 */
    z-index: 5; /* 设置堆叠层级。堆叠层级越大,图层越靠上 */
}


/* Q&A 容器 */

/* Q&A 容器整体样式 */
#backgroundbox #qa-box {
    display: flex; /* 使用弹性布局 */
    flex-direction: column; /* 使用纵向布局 */
    justify-content: center; /* 设置元素在主轴上居中对齐 */
    align-items: center; /* 设置元素在交叉轴上居中对齐 */
    margin: 50px auto; /* 设置容器在父容器内的上下外边距和左右外边距。“auto”表示居中 */
    padding: 20px; /* 设置容器内边距。1个值：上下左右,2个值：上下、左右,4个值：上、右、下、左 */
    width: 60%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    border: 6px solid cornflowerblue; /* 设置边框(粗细、样式、颜色) */
    background-image: url('../images/background_QA.png'); /* 引入背景图片 */
    background-size: cover; /* 设置背景图片完全覆盖容器的背景区域 */
    border-radius: 25px; /* 设置圆角大小 */
}

/* Q&A 容器标题部分之标题具体样式 */
#backgroundbox #qa-box #center-QA {
    margin-bottom: 20px; /* 设置底部外间距 */
    text-align: center; /* 设置文本或行内元素在父容器内水平居中 */
    font-size: 40px; /* 设置字体大小 */
    color: black;   /* 设置字体颜色 */
}

/* Q&A 容器标题部分之图标具体样式 */
#backgroundbox #qa-box #center-QA .fa-comments {
    margin-left: 10px; /* 设置左侧外边距 */
    font-size: 40px; /* 设置图标大小 */
    color: black; /* 设置图标颜色 */
    transition: transform 0.4s ease, color 0.4s ease; /* 为transform和color属性设置平滑的过渡效果和持续时间 */
}

/* Q&A 容器标题部分之图标悬停样式 */
#backgroundbox #qa-box #center-QA .fa-comments:hover {
    color: rgb(101, 101, 101); /* 设置图标颜色 */
    transform: scale(1.2); /* 设置鼠标悬停时元素的放大倍数 */
}


/* Q&A 容器列表部分 */

/* Q&A 容器列表部分整体样式 */
#backgroundbox #qa-box #QA-list {
    width: 90%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
}

/* Q&A 容器列表部分之问答整体样式 */
#backgroundbox #qa-box #QA-ul li {
    margin-bottom: 15px; /* 设置底部外间距 */
}

/* Q&A 容器列表部分之问题具体样式 */
#backgroundbox #qa-box .QA-question {
    display: block; /* 设置其为块级元素 */
    padding: 10px 0; /* 设置容器内边距。1个值：上下左右,2个值：上下、左右,4个值：上、右、下、左 */
    font-size: 20px; /* 设置字体大小 */
    color: black; /* 设置字体颜色 */
    cursor: pointer; /* 当鼠标指针悬停在需要点击的元素时,设置其变为手形 */
    transition: transform 0.4s, color 0.4s; /* 为transform和color属性设置平滑的过渡效果和持续时间 */
}

/* Q&A 容器列表部分之问题悬停样式 */
#backgroundbox #qa-box .QA-question:hover {
    color: #686868; /* 设置字体颜色 */
    transform: scale(1.05); /* 设置鼠标悬停时元素的放大倍数 */
}

/* Q&A 容器列表部分之答案具体样式 */
#backgroundbox #qa-box .QA-answer {
    display: none; /* 设置元素完全隐藏 */
    margin-top: 10px; /* 设置顶部外间距 */
    line-height: 1.5; /* 设置行高 */
    padding: 15px; /* 设置容器内边距。1个值：上下左右,2个值：上下、左右,4个值：上、右、下、左 */
    background-color: rgba(0, 0, 0, 0.1); /* 设置背景颜色 */
    font-size: 18px; /* 设置字体大小 */
    color: white; /* 设置字体颜色 */
    border-radius: 10px; /* 设置圆角大小 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 设置阴影(X轴偏移量,Y轴偏移量,模糊程度,颜色) */
    transition: background-color 0.3s ease, transform 0.3s ease; /* 为background-color和transform属性设置平滑的过渡效果和持续时间 */
}

/* Q&A 容器列表部分之答案悬停样式 */
#backgroundbox #qa-box .QA-answer:hover {
    background-color: rgba(0, 0, 0, 0.3); /* 设置背景颜色 */
    transform: scale(1.05); /* 设置鼠标悬停时元素的放大倍数 */
}


/* 页脚容器 */

/* 页脚容器整体样式 */
#backgroundbox .footer {
    position: relative; /* 使用相对定位 */
    padding: 15px; /* 设置容器内边距。1个值：上下左右,2个值：上下、左右,4个值：上、右、下、左 */
    width: 100%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    bottom: 0; /* “px”：设置元素的底部与父容器底部的固定距离;“%”：设置元素底部与父容器底部的距离相对于父容器高度的百分比 */
    background-color: rgb(241, 241, 241); /* 设置背景颜色 */
    box-sizing: border-box; /* 设置元素的宽度和高度包括边框和内边距 */
    border-top: 1px solid black; /* 设置顶部边框(粗细、样式、颜色) */
    text-align: center; /* 设置文本或行内元素在父容器内水平居中 */
}

/* 页脚容器第一部分具体样式 */
#backgroundbox .footer #footer1 {
    margin-bottom: 5px; /* 设置底部外间距 */
    margin-top: 7px; /* 设置顶部外间距 */
    font-size: 11px; /* 设置字体大小 */
}

/* 页脚容器第二部分具体样式 */
#backgroundbox .footer #footer2 {
    font-size: 11px; /* 设置字体大小 */
}


/* 返回按钮 */

/* 返回按钮整体样式 */
#backgroundbox .pointer {
    position: fixed; /* 使用固定定位 */
    right: 50px; /* “px”：设置元素的右边与父容器右边的固定距离;“%”：设置元素右边与父容器右边的距离相对于父容器宽度的百分比 */
    bottom: 75px; /* “px”：设置元素的底部与父容器底部的固定距离;“%”：设置元素底部与父容器底部的距离相对于父容器高度的百分比 */
    height: 46px; /* 设置高度。“px”：设置元素高度固定大小;“%”：设置元素高度相对于父容器高度的百分比*/
    width: 51px; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    overflow: hidden; /* 隐藏元素内容溢出其容器的部分 */ 
    z-index: 100; /* 设置堆叠层级。堆叠层级越大,图层越靠上 */
}

/* 返回按钮具体样式 */
#backgroundbox .pointer div {
    position: absolute; /* 使用绝对定位 */
    width: 45px; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    height: 40px; /* 设置高度。“px”：设置元素高度固定大小;“%”：设置元素高度相对于父容器高度的百分比 */
    border: 3px solid black; /* 设置边框(粗细、样式、颜色) */
    border-radius: 15px; /* 设置圆角大小 */
    background-color: aliceblue; /* 设置背景颜色 */
    transition: all 0.5s; /* 为所有可过渡的属性设置平滑的过渡效果和持续时间 */
}

/* 返回按钮1整体样式 */
#backgroundbox #pointer1 {
    top: 0px; /* “px”：设置元素的顶部与父容器顶部的固定距离;“%”：设置元素顶部与父容器顶部的距离相对于父容器高度的百分比 */
    left: 0px; /* “px”：设置元素的左边与父容器左边的固定距离;“%”：设置元素左边与父容器左边的距离相对于父容器宽度的百分比 */
    text-align: center; /* 设置文本或行内元素在父容器内水平居中 */
}

/* 返回按钮1具体样式 */
#backgroundbox #pointer1 i {
    font-size: 30px; /* 设置图标大小 */
}

/* 返回按钮2整体样式 */
#backgroundbox #pointer2 {
    top: 49px; /* “px”：设置元素的顶部与父容器顶部的固定距离;“%”：设置元素顶部与父容器顶部的距离相对于父容器高度的百分比 */
    left: 0px; /* “px”：设置元素的左边与父容器左边的固定距离;“%”：设置元素左边与父容器左边的距离相对于父容器宽度的百分比 */
}

/* 返回按钮2具体样式 */
#backgroundbox #pointer2 i {
    font-size: 30px; /* 设置图标大小 */
}

/* 返回按钮1悬浮样式 */
#backgroundbox .pointer:hover #pointer1 {
    top: -49px; /* “px”：设置元素的顶部与父容器顶部的固定距离;“%”：设置元素顶部与父容器顶部的距离相对于父容器高度的百分比 */
    left: 0px; /* “px”：设置元素的左边与父容器左边的固定距离;“%”：设置元素左边与父容器左边的距离相对于父容器宽度的百分比 */
}
/* 返回按钮2悬浮样式 */
#backgroundbox .pointer:hover #pointer2 {
    top: 0px; /*“px”：设置元素的顶部与父容器顶部的固定距离;“%”：设置元素顶部与父容器顶部的距离相对于父容器高度的百分比 */
    left: 0px; /*“px”：设置元素的左边与父容器左边的固定距离;“%”：设置元素左边与父容器左边的距离相对于父容器宽度的百分比 */
}


/* 返回按钮图标具体样式 */
#backgroundbox .pointer i {
    display: inline-block; /* 设置其为内联块级元素 */
    margin-top: -100%; /* 设置顶部外间距 */
    margin-bottom: auto; /* 设置底部外间距 */
    line-height: normal; /* 设置行高 */
    width: 95%; /* 设置宽度。“px”：设置元素宽度固定大小;“%”：设置元素宽度相对于父容器宽度的百分比 */
    text-align: center; /* 设置文本或行内元素在父容器内水平居中 */
    font-size: 24px; /* 设置图标大小 */
}

/* 强制显示返回按钮 */
#backgroundbox #pointer {
    display: block !important;; /* 设置其为块级元素,!important提升该条规则的优先级 */
    transition: ease-in-out 3.5s, ease-out 3s;transition: transform 3.5s ease-in-out ,transform 3s ease-out; /* 为transform属性设置两个不同的过渡效果，分别使用ease-in-out和ease-out时间函数以及不同的持续时间 */
}